In [10]:
import pandas as pd
data=pd.read_csv('../dataset/hmelq.csv')
data.head()

,bad,loan,mortdue,value,reason,job,yoj,derog,delinq,clage,ninq,clno,debtinc
0,0,81200,18834.0,108355.0,HomeImp,NaN,28.0,0.0,0.0,139.14,0.0,14.0,34.042
1,0,12600,103960.0,127384.0,DebtCon,NaN,2.0,0.0,0.0,129.02,0.0,25.0,34.479
2,0,18000,46865.0,61266.0,DebtCon,NaN,5.0,0.0,0.0,102.59,2.0,9.0,26.354
3,0,10300,57676.0,71027.0,DebtCon,NaN,19.0,0.0,0.0,157.52,1.0,11.0,33.992
4,0,9400,56508.0,78358.0,DebtCon,NaN,17.0,0.0,0.0,141.93,0.0,11.0,32.327

In [11]:
print(data.isnull().values.any()) #null var mı yok mu
data.isnull()#loan ve bad dışındakilerde null deger var

True

,bad,loan,mortdue,value,reason,job,yoj,derog,delinq,clage,ninq,clno,debtinc
0,False,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3571,False,False,False,False,False,False,True,False,False,False,False,False,True
3572,False,False,False,True,False,False,True,False,False,False,False,False,False
3573,False,False,False,True,False,False,False,False,False,False,False,False,True
3574,False,False,True,False,False,False,False,False,False,False,False,False,True
3575,False,False,True,False,False,False,False,False,False,False,False,False,True

In [12]:
#Columnlari columns_list atandi
columns_list=[]
columns_list=data.columns
columns_list

Index(['bad', 'loan', 'mortdue', 'value', 'reason', 'job', 'yoj', 'derog',
       'delinq', 'clage', 'ninq', 'clno', 'debtinc'],
      dtype='object')

In [13]:
bad_value=pd.unique(data.bad.values)
bad_value # bad value degerleri

array([0, 1])

In [17]:
#Anova-shapiro test
#Shapiro test-Normallik testi
from scipy.stats import shapiro
for i in range(len(data.columns)):
    if data[columns_list[i]].dtype =='float64' or data[columns_list[i]].dtype=='int64':#sayisal veri control
        stat, p = shapiro(data[columns_list[i]])
        print(str(data.columns[i])+" için:")
        print('Alanı Veren Nokta = %.3f, p = %.3f' % (stat,p))
        #nan için nulları atınca düzeliyor.
        alpha=0.05
        if p> alpha:
            print("Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)")
        else:
            print("Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0) ")

bad için:
Alanı Veren Nokta = 0.489, p = 0.000
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
loan için:
Alanı Veren Nokta = 0.849, p = 0.000
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
mortdue için:
Alanı Veren Nokta = nan, p = 1.000
Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)
value için:
Alanı Veren Nokta = nan, p = 1.000
Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)
yoj için:
Alanı Veren Nokta = nan, p = 1.000
Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)
derog için:
Alanı Veren Nokta = nan, p = 1.000
Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)
delinq için:
Alanı Veren Nokta = nan, p = 1.000
Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)
clage için:
Alanı Veren Nokta = nan, p = 1.000
Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)
ninq için:
Alanı Veren Nokta = nan, p = 1.000
Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)
clno için:
Alanı Veren Nokta = nan, p = 1.000
Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)
debtinc için:
Alanı Veren Nokta = nan, p = 1.000
Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)

In [15]:
#levene test
from scipy.stats import levene
for i in range(1,len(data.columns)):
    if data[columns_list[i]].dtype =='float64' or data[columns_list[i]].dtype=='int64':#sayisal veri control
        stat, p = levene(data['bad'],data[columns_list[i]])
        print(str(data.columns[i])+" için: ")
        print('Alanı Veren Nokta = %.3f, p = %.3f' % (stat,p))
        #direk null columnları pass geçme nasıl olur ?
        alpha=0.05
        if p> alpha:
            print("Örneklem Normal (Gaussian) dağılımdan gelmektedir (fail to Reject)")
        else:
            print("Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0) ")

loan için:
Alanı Veren Nokta = 3033.449, p = 0.000
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
mortdue için:
Alanı Veren Nokta = nan, p = nan
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
value için:
Alanı Veren Nokta = nan, p = nan
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
yoj için:
Alanı Veren Nokta = nan, p = nan
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
derog için:
Alanı Veren Nokta = nan, p = nan
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
delinq için:
Alanı Veren Nokta = nan, p = nan
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
clage için:
Alanı Veren Nokta = nan, p = nan
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
ninq için:
Alanı Veren Nokta = nan, p = nan
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
clno için:
Alanı Veren Nokta = nan, p = nan
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)
debtinc için:
Alanı Veren Nokta = nan, p = nan
Örneklem Normal (Gaussian) dağılımdan gelmemektedir (Reject H0)

In [16]:
#oneway test
from scipy.stats import f_oneway
f_oneway(data['bad'],data['loan'])

F_onewayResult(statistic=9678.977358165106, pvalue=0.0)